body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

table {
  border: 4px solid black;
  border-collapse: collapse;
  cursor: pointer;
}
.cell {
  width: 30px;
  height: 30px;
}

.white {
  background: white;
}

.black {
  background: black;
}

.red {
  background: red;
}
